<%- form_tag :rat_insider, :multipart => true, :class => :insiders do -%>

	<ul>
		
		<%- if @error.present? -%>
			<li class="error">
				<%= t @error %>
			</li>
		<%- end -%>

		<li>
			<%= file_field_tag :file %>
		</li>
		
		<li>
			<%= recaptcha_tags %>
		</li>
		
		<li>
			<%= submit_tag t(".submit"), :disable_with => t(".disable_submit") %>
		</li>
		
	</ul>

<%- end -%>
