/*div.field-i {
	overflow:hidden;
	padding-bottom:10px;
	clear:left;
}

.authority_header {
    color: #006299;
    font: normal normal normal 20px/24px arial, sans-serif;
}

.authority,
.authority div,
.authority form {
    float: left;
    font: normal normal normal 12px/16px arial, sans-serif;
}


.senddocument_label, .authority_label {
	clear:left;
    width: 165px;
    text-align: left;
    margin-right: 5px;
    font-size: 11px;
    line-height: 24px;
    margin-top: 3px;
    float:left;
}

.senddocument_field, .authority_field {
    width: 400px;
    float:left;
}

.authority_field select,
.authority_field input {
    width: 390px;
}

.authority_field .star {
    position: relative;
    left: 6px;
}

.authority_button input {
    width: auto;
    margin-top: 10px;
}
*/

.senddocument, .senddocument div, .senddocument form {float:none;}
.errorExplanation h2,
.errorExplanation ul li {
    color: red;
}

.star {
    color: red;
}

label.required {
    //font-weight: bold;
}

.legend {
    float: left;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #DDD;
    color: #999;
    padding-left: 10px;
}
