#dialog_overlay {
    position: absolute;
    margin: auto;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9999;
    background-color: #000!important;
}
#dialog_overlay[id] { position: fixed; }

.dialog-box {
	background-color: #FFFFFF;
	z-index:10000;
	padding: 10px;
	max-width: 650px;
	position: absolute;
	/*height: 700px;*/
}

.dialog-box .dialog-box-header {
    margin:0;
    height: 28px;
    background-color:#DDD;
    border-bottom: 1px solid #CCC;
	position: relative;
	width:100%;
	margin: -29px -10px 10px -10px;
	top: 0px;
	left: 0px;
}

.dialog-box .dialog-box-header .dialog-box-title {
   font: bold 85% "Lucida Grande", Arial, sans-serif;
    text-shadow: #FFF 0 1px 0;
    padding: .8em 2em 0 .75em;
    margin: 0;
    text-align: left;
	color: #000;
	float: left;
}

.dialog-box .dialog-box-header .dialog-box-title-close, .dialog-box .dialog-box-header .dialog-box-title-close-cln {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	margin-top: 3px;
	font-weight: bold;
	font-size: 15px;
}

.dialog-box.confirm {
	width: 300px;
}
