	h1 {
		color:#006299;
	}
div.formstyling {
		  margin: 10px 0;
		  padding: 0;
	}
	div.formstyling p {
		  height: auto !important;
		  margin: 10px 0;
		  /* overflow: hidden; */
		  padding: 0;
		  position: relative;
	}
	div.formstyling p span.label_span, div.formstyling div.fieldWithErrors label, div.formstyling div.fieldWithErrors {
		display:block;
		float: left;
		font-size: 11px;
		line-height: 24px;
		width: 170px;
	}
	
	div.formstyling .required {
		  font-weight: bold;
	}
	div.formstyling .star {
		  color: #FF0000;
		  float:right;
		  height:1px;
		  width:1px;
		  margin-top:5px;
	}
	div.formstyling input, div.formstyling select, div.formstyling textarea {
		  font-family: 'lucida grande',arial,sans-serif;
		  font-size: 13px;
		  margin: 3px;
		  position: relative;
	}
	div.formstyling input {
		  width: 390px;
	}
	div.formstyling select {
		width: 396px;
	}
	div.formstyling p.date_fields input {
		width:173px;	
	}
	div.formstyling input#feedback_occupation {
		  width: 150px;
	}
	div.formstyling textarea {
		  height: 10em;
		  width: 390px;
	}
	div.formstyling div.submit {
			clear:both;
	}
	div.formstyling div.submit input {
		  width: auto;
	}
	div.formstyling div.fieldWithErrors {float:left;margin-bottom:8px;}

div.l-field, div.submit {
	width:575px;
	clear:both;
}

/* Formtastic */
form.formtastic {
    clear: both;
	
}
form.formtastic li {
    list-style: none;
    clear: both;
	/* float: left; */
	width: 575px;
	padding-bottom: 10px;
}
	form.formtastic li span.star{
	    float: right;
	}
	form.formtastic li label {
	    width: 170px;
	    float: left;
	}
    form.formtastic li input {
          width: 390px;
    }
	form.formtastic li.hidden{
		padding: 0px;
	}
    form.formtastic li select {
        width: 396px;
    }
    form.formtastic li.date input {
        width:173px;    
    }
	form.formtastic li.checkboxes label {
		position: absolute;
	}
    form.formtastic li.checkboxes ol label {
        position: inherit;
    }
    form.formtastic li input#feedback_occupation {
          width: 150px;
    }	
	form.formtastic li span.description {
		font-weight: bold;
		font-size: 13px;
		color: #777;
		padding: 0 6px;
		background: #eee;
		margin: 6px;
	}
    form.formtastic li textarea {
          height: 10em;
          width: 390px;
    }
    form.formtastic li ol {
        margin: 0px;
        padding: 0px;
        padding-left: 170px;
    }
	form.formtastic li ol li {
        padding: 0px;
	}
	form.formtastic li ol li input {
		width: auto;
	}
	form.formtastic li ol li label {
		width: 400px;
	}

	form.formtastic li.grid {
		width: 100%;
		height: auto;
	}
    form.formtastic li.buttons {
    	margin-left: 170px;
    }
	    form.formtastic li.buttons input.submit{
	        width: auto;
	    }
	form.formtastic li.boolean label {
		position:relative;
		line-height:32px;
	}
		form.formtastic li.boolean label input {
			margin-left: 170px;
			position: absolute;
			width: auto;
			height: 24px;
		}

form.formtastic fieldset {
	display: block;
	border: 1px solid #ededed;
	padding: 5px;
}
    form.formtastic .star {
          color: #FF0000;
          float:right;
          height:1px;
          width:1px;
          margin-top:5px;
    }
div.clean {
	clear: both;
}

/*
.dialog-box form.formtastic {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 650px;
}

.dialog-box form.formtastic li.buttons {
	position: absolute;
	margin-top: 660px;
}
*/