	h1 {
		color:#006299;
	}
.legend {
    float: left;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #DDD;
    color: #999;
    padding-left: 10px;
}
div.formstyling {
		  margin: 10px 0;
		  padding: 0;
	}
	div.formstyling p {
		  height: auto !important;
		  margin: 10px 0;
		  /* overflow: hidden; */
		  padding: 0;
		  position: relative;
	}
	div.formstyling p span.label_span, div.formstyling div.fieldWithErrors label, div.formstyling div.fieldWithErrors {
		display:block;
		float: left;
		font-size: 11px;
		line-height: 24px;
		width: 170px;
	}
	
	div.formstyling .required {
		  font-weight: bold;
	}
	div.formstyling .star {
		  color: #FF0000;
		  float:right;
		  height:1px;
		  width:1px;
		  margin-top:5px;
	}
	div.formstyling input, div.formstyling select, div.formstyling textarea {
		  font-family: 'lucida grande',arial,sans-serif;
		  font-size: 13px;
		  margin: 3px;
		  position: relative;
	}
	div.formstyling input {
		  width: 390px;
	}
	div.formstyling select {
		width: 396px;
	}
	div.formstyling p.date_fields input {
		width:173px;	
	}
	div.formstyling input#feedback_occupation {
		  width: 150px;
	}
	div.formstyling textarea {
		  height: 10em;
		  width: 390px;
	}
	div.formstyling div.submit {
			clear:both;
	}
	div.formstyling div.submit input {
		  width: auto;
	}
	div.formstyling div.fieldWithErrors {float:left;margin-bottom:8px;}

div.l-field, div.submit {
	width:575px;
	clear:both;
}

/* Formtastic */
form.formtastic {
    clear: both;
	
}
form.formtastic ul.subform {
    padding: 0px;
}
form.formtastic li {
    list-style: none;
    clear: both;
	/* float: left; */
	width: 828px;
	padding-bottom: 10px;
}

	form.formtastic li span.star{
	    float: right;
	}
	form.formtastic li label {
	    width: 418px;
	    float: left;
	}
    	form.formtastic li fieldset li {
    	    width: 810px;
    	}
    	form.formtastic li fieldset li label {
    	    width: 400px;
    	}
            form.formtastic li fieldset li fieldset li {
                width: 792px;
            }
            form.formtastic li fieldset li fieldset li label {
                width: 382px;
            }
     
    form.formtastic li input {
          width: 390px;
		  margin-left: 10px;
    }
	form.formtastic li.hidden{
		padding: 0px;
	}
    form.formtastic li select {
        width: 396px;
		margin-left: 10px;
    }
    form.formtastic li.date input {
        width:173px;    
    }
	form.formtastic li.checkboxes label {
		/*position: absolute;*/
	}
    form.formtastic li.checkboxes ol label {
        position: inherit;
    }
    form.formtastic li input#feedback_occupation {
          width: 150px;
    }	
	form.formtastic li span.description {
		font-weight: bold;
		font-size: 13px;
		color: #777;
		padding: 0 6px;
		background: #eee;
		margin: 6px;
	}
    form.formtastic li textarea {
          height: 10em;
          width: 390px;
    }
    form.formtastic li ol {
        margin: 0px;
        padding: 0px;
        padding-left: 240px;
    }
	form.formtastic li ol li {
        padding: 0px;
	}
	form.formtastic li ol li input {
		width: auto;
		margin-left: 0px;
	}

	form.formtastic li.grid, form.formtastic li.form {
		width: 100%;
		height: auto;
	}
    form.formtastic li.buttons {
    	text-align: center;
		width: auto;
    }
	    form.formtastic li.buttons input.submit{
	        width: auto;
	    }
	   form.formtastic li.buttons input, form.formtastic li.buttons button {
	   	   margin: 0px;
	   	   margin-right: 10px;
	   }
	form.formtastic li.boolean label {
		position:relative;
		padding-bottom: 10px;
	}
		form.formtastic li.boolean label input {
			margin-left: 428px;
			position: absolute;
			width: auto;
			height: 24px;
		}
		form.formtastic fieldset li.boolean label input {
		    margin-left: 410px;
		}
	form.formtastic li.group {
		width: 100%;
	}
	form.formtastic li.grid div.empty_grid input {
		width: auto;
	}
form.formtastic fieldset {
	display: block;
	border: 1px solid #ededed;
	padding: 5px;
}

    form.formtastic ul {
        padding: 0px;
		margin: 0px;
    }
    form.formtastic fieldset ul {
    	padding: 10px;
		margin: 0px;
    }
    form.formtastic .star {
          color: #FF0000;
          float:right;
          height:1px;
          width:1px;
          margin-top:5px;
    }
div.clean {
	clear: both;
	overflow:inherit;
}
.errorExplanation {
	color: red;
}

div.dialog-box form.formtastic li {
    width: 645px;
}
    div.dialog-box form.formtastic li label {
        width: 230px;
    }
    div.dialog-box form.formtastic li ol li label {
        width: 400px;
    }
/*
.dialog-box form.formtastic {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 650px;
}

.dialog-box form.formtastic li.buttons {
	position: absolute;
	margin-top: 660px;
}
*/
#reg_card_errors {
	background: #fafafa;
	padding: 5px 10px;
}

#reg_card_errors .reg_card_resource span, #reg_card_errors .reg_card_resource a {
	margin: 0px 5px;
}

#reg_card_errors .reg_card_resource a.show_errors {
    color: #6d6d6d;
    text-decoration: none;
    border-bottom: 1px dashed;
}
#reg_card_errors .reg_card_resource h3 div {
	font-size: 12px;
	font-weight: normal;
}
#reg_card_errors .reg_card_resource span {
	font-weight: bold;
	width: 150px;
	float:left;
}
#reg_card_errors li.all_errors {
	list-style: none;
}
	#reg_card_errors li.all_errors ul {
		padding: 0px;
	}
	    #reg_card_errors li.all_errors ul {
	    	list-style-type: disc;
	    } 
		

form.formtastic ul.scroll_container {  
    position:relative;  
    width:500px;  
} 
 
#scrollbar_track {  
    position:absolute;  
    top:0;  
    right:0;
    height:100%;  
    width:10px;  
    background-color:transparent;  
    cursor:move;  
} 
 
#scrollbar_handle {  
    width:10px;  
    background-color:#5c92e7;  
    cursor:move;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    opacity:0.9;  
    -moz-opacity:0.9;  
} 
 
#scrollbar_content {  
    overflow:hidden;  
    width:485px;  
    height:250px;  
} 
div.editFormA {
	background: #f9f9f9;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
div.editFormA div {
	float: left;
	padding: 8px;
}
div.editFormA .reg_card_reset {
	float: right;
	width: 200px;
	text-align: center;
	background: #ededed;
}

/* страница organization/licenses */
form.licenses table th.number {width: 150px;}
form.licenses table th.licence_organ {width: 150px;}
form.licenses table th.date_begin {width: 70px;}
form.licenses table th.date_end {width: 90px;}

/* страница /organization/phones */
form.phone table th.country {width: 130px;}
form.phone table th.operator {width: 50px;}
form.phone table th.number {width: 100px;}
form.phone table th.main {width: 65px;}
form.phone table th.fio {width: 150px;}
form.phone table th.position {width: 120px;}
form.phone table th.alert_phone_category {width: 90px;}


form.contactlist th.fio {width: 90px;}
form.contactlist th.firstname {width: 90px;}
form.contactlist th.patronymic {width: 90px;}
form.contactlist th.position {width: 150px}
form.contactlist th.phone_areacode {width: 40px;}
form.contactlist th.phone {width: 60px;}
form.contactlist th.fax_areacode {width: 40px;}
form.contactlist th.fax {width: 60px;}
form.contactlist th.email {width:70px;}