html {
  background: #fff;
}

body {
  font-family: 'trebuchet ms', 'arial', 'sans-serif';
  font-size: 13px;
  margin: 0;
  text-align: center;
}

a {
  color: #369;
}

a:hover {
  color: #936;
}

#header,
#body,
#footer {
  margin: 0 auto;
  padding: 0 100px;
  text-align: left;
}

/* header */

#header {
  background-color: #369;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  text-align: right;
}

#body {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  zoom: 1;
}

/* sidebar */

#sidebar {
  float: left;
  width: 240px;
}

/* content */

#content {
  margin-left: 260px;
}

/* property list */

div.resource {
  font-size: 13px;
}

div.resource div.column {
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 0;
}

div.resource div.column h4 {
  color: #4d4d4d;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 .5em;
  padding: 0 2px;
}

div.resource div.column p {
  background: #eee;
  margin: 0;
  padding: .5em 10px;
}

div.resource div.column p.blank {
  background: #fcc;
}

div.resource div.group {
  overflow: hidden;
}

div.resource div.group_shift {
  border-top: 1px solid #eee;
  padding-top: 1em;
}

div.resource div.group h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 1em;
  padding: 0;
}

div.resource div.group div.column {
  float: left;
  margin-right: 20px;
  white-space: nowrap;
}

/* resource table */


table.resource {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.resource tr.odd td {
  background-color: #eee;
}

table.resource td {
  padding: .5em 20px;
}

table.resource thead td {
  color: #4d4d4d;
  font-style: italic;
}

table.sortable thead td span {
  cursor: pointer;
  text-decoration: underline;
}

table.resource td p {
  margin: 0;
  padding: 0;
}

table.properties {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.properties tr.odd td {
  background-color: #eee;
}

table.properties td {
  padding: .5em 10px;
}

table.properties thead td {
  color: #4d4d4d;
  font-style: italic;
}

table.properties thead td span {
  cursor: pointer;
  text-decoration: underline;
}

/* footer */

#footer {
  background-color: #eee;
  color: #4d4d4d;
  line-height: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}
