html {
  background: #fff;
}

body {
  font-family: 'trebuchet ms', 'arial', 'sans-serif';
  font-size: 13px;
  margin: 0;
  text-align: center;
}

a {
  color: #369;
}

a:hover {
  color: #936;
}

#header,
#body,
#footer {
  margin: 0 auto;
  padding: 0 100px;
  text-align: left;
}

/* header */

#header {
  background-color: #369;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  text-align: right;
}

#body {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  zoom: 1;
}

/* sidebar */

#sidebar {
  float: left;
  width: 240px;
}

/* content */

#content {
  margin-left: 260px;
}

/* property list */

dl.properties {
}

dl.properties dt {
  color: #4d4d4d;
  font-size: 1em;
  font-style: italic;
  margin: 0 0 .25em;
  padding: 0 2px;
}

dl.properties dd {
  background: #e7e7e7;
  margin: 0 0 1em;
  padding: .5em 7px;
}

dl.properties dd.empty {
  background: #ffcccc;
}

/* properties table */

table.properties {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.properties tr.odd td {
  background-color: #eee;
}

table.properties td {
  padding: .5em 10px;
}

table.properties thead td {
  color: #4d4d4d;
  font-style: italic;
}

table.properties thead td span {
  cursor: pointer;
  text-decoration: underline;
}

/* footer */

#footer {
  background-color: #eee;
  color: #4d4d4d;
  line-height: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}
