div.photo_file_name, div.manager_id {display:none;}

div.link_to_send_message {
	width:225px;
	text-align:center;
}

div.clients_list {}
  div.clients_list ins {
   text-decoration: none;
   display: -moz-inline-box;
   display: inline-block;
   vertical-align: top;
   text-align: left;
   margin: 0 10px 10px 0;
   //height:250px;
   width:225px;
   text-align:center;
  }
    div.photos {height:150px;}
      div.clients_list ins img {height:150px;}
    div.clients_list ins h4 {font-size:12px;margin:10px 0 5px 0;padding:0;}
    div.clients_list ins div.photo_base64 {text-align:center;}
      div.photo_base64 img {}
  
  	div.date_voting {font-size:11px;color:gray;}
  div.clients_list ins div.starbox {
  		margin:5px 0;
		height: 17px;
		overflow:hidden;
   }
  div.stars {margin:0 auto;}
      
  a.upload-link {
    background: url("/images/draft/icon-download.gif") no-repeat scroll left center transparent;
    color: #888888;
    font: 11px tahoma,sans-serif;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  
  div.dialog-box div.stars {margin:0;}
  div.dialog-box div.yourMark, div.dialog-box div.starbox {float: left;padding: 0 5px 0 0;}
  div.dialog-box div.ovrh {overflow:hidden;}
  div.dialog-box div.yourComment {width:99%;padding:5px 0;}
  textarea.commentVoting {width:345px;height:150px;}
  
  
  div.dialog-box div.errorExplanation {color:red;} 
  div.submiting {text-align:center;}
  
  span.star {color:#FF0000}
