<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>

<%= textilize t(".description") %>

<ul class="cards">
    <%- @cards.each do |card| -%>
        <li>
            <%= h card.title %>
        </li>
    <%- end -%>
</ul>