<h1>
    <%= @organization.full_name %>
</h1>
 
<p>Регистрационная карточка предоставляется участником в&nbsp;соответствии с&nbsp;требованиями документов, размещенных в&nbsp;разделе &laquo;<a href="http://micex.ru/participation/info/reporting/order">Предоставление информации и&nbsp;отчетности</a>&raquo;</p>

<ul class="cards">
    <%- @cards.each do |card| -%>
        <li>
            <%= h card.title %>
        </li>
    <%- end -%>
</ul>