<%= render :partial => 'header_authority_2', :locals => {'vars' => @vars} %>

в дальнейшем Участник/Банк России, при заключении кредитных сделок согласно установленным ЗАО ММВБ Правилам проведения кредитных аукционов при предоставлении Банком России кредитным организациям кредитов без обеспечения с использованием Системы электронных торгов ЗАО ММВБ с использованием следующих идентификаторов Участника/Банка России</div>
<div>торговый идентификатор Участника/Банка России: _____________________________________</div>

<%= render :partial => 'footer_authority_2', :locals => {'vars' => @vars} %>