<%= render :partial => 'header_authority_2', :locals => {'vars' => @vars} %>

в дальнейшем Участник/Банк России, при заключении </div>
<div>________________________________________________________________________ депозитных и кредитных сделок</div>
<div>согласно установленным ЗАО ММВБ Правилам заключения Банком России сделок с кредитными организациями с использованием Системы электронных торгов ЗАО ММВБ при проведении Банком России депозитных и кредитных операций с использованием следующих торговых идентификаторов Участника/Банка России:</div>
<div>_______________________________</div>
<div>_______________________________</div>
<div>_______________________________</div>
<div>_______________________________</div>

<%= render :partial => 'footer_authority_2', :locals => {'vars' => @vars} %>