<ul id="contextual_menu" class="tabbed_menu">

    <%- @organization.market_groups.each do |group| -%>
      <li <% if(@id == group.id) %>class="current"<% end %> >
            <%= link_to h(group.title), markets_path(:id => group.id) %>
        </li>

    <%- end -%>
</ul>