<div class="market list_item">
    <h4>
        <%= market.name %>
    </h4>
    <div class="description">
      <div style="float: left;"><h2>Организатор торгов</h2><%= textilize market.description %></div>
      <div style="float: right;"><h2>Клиринговая организация</h2><%= textilize market.clearing %></div>
      <div style="height: 100px; width: 100%;"><br></div>
      <%= resource_table(market.schema, market.users) unless market.users.empty? %>
    </div>
</div>