<div class="market list_item" data-market="<%= market.to_param %>" style="display: none;">
    <h4>
        <%= market.name %>
    </h4>
    <div class="description">
        <%= textilize market.description %>
        <%= resource_table(@schemaForForm, market.agents) unless market.agents.empty? %>
    </div>
</div>

