<% if @form_edit == 1 %>
<div class="editFormA">
    <p>
        <strong>
            <%=t(:editform, :scope => [:organizations, :notice])%>
            <%=link_to t(:editform_link, :scope => [:organizations, :notice]), :action => :sendcard %>
        </strong>
    </p>
</div>
<% end %>