<% if @form_edit && @reg_card_errors_list.nil?%>
<div class="editFormA">
    <div>
        <strong>
            <%=t(:editform, :scope => [:cards, :notice], :link => link_to(t(:editform_link, :scope => [:cards, :notice]), :controller => :cards, :action => :sendcard))%>
        </strong>
    </div>
</div>
<% end %>