<%=contextual_menu %>
<!--<h1>Добавить контролера</h1>-->
<%= error_messages_for :controllersadd %>
<% semantic_form_for :controllersadd, :url => '/organization/controlleraddsave' do |f| %>
  <%= f.rrender @controllersadd %>
    <li class="buttons">
      <input class="submit" name="commit" type="submit" value="Сохранить" id="controllersadd_submit">
      <button onclick="window.location = '/organization/controllers';return false;">Назад</button>
    </li>
<% end %>