<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<h1>Филиалы</h1>
<% semantic_form_for :filials, :url => { :action => "filialscreate"} do |f| %>
  <%= f.rrender @filials %>
<% end %>