<h1><%= S4::Organization.find(s4_user).full_name %></h1>
<%=contextual_menu %>
<h1>Лицензии</h1>
<% semantic_form_for :licenses, :url => { :action => "licensessave"} do |f| %>
  <%= f.rrender @licenses %>
<% end %>