<h1>
    <%= @organization.full_name %>
</h1>

<div class="resource">
    <%- S4::Organization.schema.each do |element| -%>
        <%= render :partial => "shared/s4/resource/#{element.element_type}", :object => element, :locals => { :resource => @organization } %>
    <%- end -%>
</div>
